.black-nav-order{
  position: fixed;
  left: 50%;
  transform:translateX(-50%);
  width: 425px;
  top:0px;
  margin:auto;
  text-align: center;
  background: black;
  color: white;
  padding: 20px 0;
  font-size: 30px;
  height: 41px;
}
.nine-order h1 {
  background-color: white;
   left: 50%;
  transform:translateX(-50%);
  position: fixed;
  top: 81px;
   width: 425px;
   margin: 0 auto;
  text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
}
.nine-order h1 span {
  margin-top: 5px;
    font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}
.nine-order h1 span:after,.nine-order h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  background-color:#f8f8f8;
}
.CategoryList{
  text-align: center;
  width:425px;
  overflow-x:auto; white-space:nowrap; font-size:0;
  margin: auto;
  position: fixed;
  left: 50%;
    transform:translateX(-50%);
    top: 190px;
    background-color: white;
}
.buttonCategory {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 3px 2px;
    overflow: visible;
    padding: 10px 15px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  .buttonCategory:focus {
    text-decoration: none;
  }
  .buttonCategory:hover {
    text-decoration: none;
  }
  .buttonCategory:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  .buttonCategory:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }

/*카테고리 하단 메뉴리스트*/
  .CategoryMenu{
    padding-top: 240px;
    padding-bottom: 110px;
    padding-left: 0px;
    width: 425px;
    margin: auto;
  }
  .menulist {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    color: #4a4a4a;
    display: block;
    padding: 10px;
    margin: 2px 20px 2px 20px;
    overflow: auto;
  }
  .menuInfo{
    float: left;
    text-align: left;
    font-family: 'Black Han Sans', sans-serif;
  }
  .categoryImg{
    float:right;
    height: 100px;
    width: 100px; 
    border-radius: 15%;
  }
  p.menuName{
    margin: 0px 0px 2px 0px;
    font-size:larger;
    font-weight: bold;
  }
  p.menuPrice{
    margin: 0px 0px 20px 0px;
    font-size:larger;
  }

/* -- quantity box -- */
.quantity {
  display: inline-block; 
}
.quantity .input-text.qty {
  display:inline-block;
  margin: 0px;
  width: 15px;
  height: 20px;
  padding: 0 5px 0px 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #000;
}
.quantity.buttons_added {
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
}
.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}
.quantity.buttons_added .minus {
  vertical-align: top;
  color: #fff;
  padding: 0px 7px 0px;
  height: 22px;
  background-color: #000;
  border: 1px solid #000;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  cursor:pointer;
}
.quantity.buttons_added .plus {
    vertical-align: top;
    color: #fff;
    padding: 0px 7px 0px;
    height: 22px;
    background-color: #000;
    border: 1px solid #000;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    cursor:pointer;
}
.quantity.buttons_added .minus:hover,.quantity.buttons_added .plus:hover {
  background: gray;
}
.quantity input::-webkit-outer-spin-button,.quantity input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
.fixed{
    width: 401px;
    margin: 0;
    position: fixed;
    left: 50%;
    transform:translateX(-50%);
    bottom: 0;
    margin:auto;
    background: black;
    color: white;
    padding: 0 12px 12px;
}
.fixed .paymentButton{
    margin:auto;
    width: 100%;
    padding: 15px 40px;
    font-size: 20px;
    position:relative;
    left: 50%;
    transform:translateX(-50%);
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: bolder;
}
.fixed .paymentButton :hover{
  background: blue;
}
.payMenu{
    font-size: 15px;
    text-align: left;
    float: left;
    padding: 5px;
}
.payAmount{
    font-size: 15px;
    text-align: right;
    float: right;
    padding: 5px;
}
  
@media (width <= 425px) {
  .black-nav-order, .nine-order h1, .CategoryMenu, .CategoryList, .fixed{
      width: 100%;
  }
  .fixed .paymentButton{
      width: 95%;
  }
  .payMenu{
      padding: 5px 0px 5px 12px;
  }
  .payAmount{
      padding: 5px 12px 5px 0px;
  }
}