.Order{
    text-align: center;
}

.buttonCategory {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 3px 2px;
    overflow: visible;
    padding: 10px 15px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  .buttonCategory:focus {
    text-decoration: none;
  }
  .buttonCategory:hover {
    text-decoration: none;
  }
  .buttonCategory:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  .buttonCategory:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }



/*카테고리 하단 메뉴리스트*/
  .CategoryMenu{
    padding-left: 0px;
    width: 425px;
    margin: auto;
  }
  .menulist {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    color: #4a4a4a;
    display: block;
    padding: 10px;
    margin: 2px 20px 2px 20px;
    overflow: auto;
  }
  .menuInfo{
    float: left;
    text-align: left;
    font-family: 'Black Han Sans', sans-serif;
  }
  .categoryImg{
    float:right;
    height: 100px;
    width: 100px; 
    border-radius: 15%;
  }
  p.menuName{
    margin: 0px 0px 2px 0px;
    font-size:larger;
    font-weight: bold;
  }
  p.menuPrice{
    margin: 0px 0px 20px 0px;
    font-size:larger;
  }
  .quantityButton{
  
    
    
  }




@media (width <= 425px) {
  .CategoryMenu {
    width: 100%;
  }
}
