.body{
    font-family: 'nanumsquare';
}


.black-nav{
  width: 425px;
  margin:auto;
  text-align: center;
  background: black;
  position:relative;
  color: white;
  padding: 20px 0;
  font-size: 30px;
}

@media (width <= 425px) {
  .black-nav{
    width: 100%;
  }
}
/* 

.mainbox{
  position:relative;
  margin:0 auto;
  width: 500px;
  border: 1px solid; 
}
 
.total{
  margin: 0 auto;
  width: 500px;
  border: 3px solid; 
  text-align: left;
  font-size: 15px;

}
.food{
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.food .food-sty{
  flex-grow: 1;
}

.photo {
  height: 50px;
  width: 50px; 
} */
